﻿/*@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);*/

body {
    font-size: 20px;
    font-family: "Noto Sans TC";
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0rem;
    font-family: "Noto Sans TC";
}

.small-text-size {
    font-size: 14px;
}

.nav > li > a {
    padding: 0.6rem 1.2rem;
}

.portfolio h4 {
    margin-top: 0rem;
}

.primary-nav {
    font-family: "Noto Sans TC", Helvetica, Arial, sans-serif;
    font-size: 20px;
}

@media (min-width: 992px) {
    .header-transparent .navbar-default:not(.navbar-fixed-top) {
        background: rgba(0, 0, 0, 0.3);
    }

    /*.dhslider .slider-caption .slider-heading-text {
        font-size: 2em;
    }*/
}

@media (max-width: 575.98px) {
    h2 {
        font-size: 1.2em;
    }

    h3 {
        font-size: 1.1em;
    }

    h4 {
        font-size: 1em;
    }
}

.footer-widget .posts-thumbnail-content h4 a {
    font-size: 16px;
    font-family: "Noto Sans TC", Helvetica, Arial, sans-serif;
}

.footer-widget {
    font-size: 16px;
}

    .footer-widget .widget-title {
        font-size: 16px;
    }

.portfolio-title {
    color: #fff;
}

/*.dhslider .slider-caption .slider-heading-text {
    font-size: 3.5em;
}*/

.shop ul.products li.product {
    width: 32%;
}

.shop ul.cart_list li img, .shop ul.product_list_widget li img {
    width: 30px;
}

.LineClamp-1 {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box !important;
    overflow: hidden;
}

.shop ul.cart_list li, .shop ul.product_list_widget li {
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.shop div.product div.summary .product_meta {
    margin-top: 0;
}

.section-newsletters {
    background-color: #4a90e2;
}

    .section-newsletters h3, .section-newsletters h4, .section-newsletters p {
        color: #fff;
    }

#exhibition .portfolio.portfolio-style-lily .portfolio-caption {
    background: none;
}

#exhibition .portfolio.portfolio-style-lily .portfolio-featured {
    opacity: 0;
}

.single-portfolio .main-content .portfolio .portfolio-attributes .portfolio-attribute {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}

@media (min-width: 1200px) {
    .container.custom-container-width {
        width: 1500px;
    }
}
